.gwg-footer {
  --footer-background-colour: var(--highlight-background-color);

  padding: calc(2 * var(--site-spacing)) var(--site-spacing);
  background: var(--footer-background-colour);

  @include mq($from: tablet) {
    padding: calc(2 * var(--site-spacing-large)) var(--site-spacing-large) ;
  }
}

.gwg-footer__title {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.667em;
}
