.gwg-gallery__container {
  padding: var(--site-spacing);
  padding-bottom: calc(2 * var(--site-spacing));

  @include mq($from: tablet) {
    padding: var(--site-spacing-large);
    padding-bottom: calc(2 * var(--site-spacing-large))
  }
}

.gwg-gallery {
  --grid-gap: var(--gwg-grid-gap);
  @include mq($from: desktop) {
    --grid-gap: var(--gwg-grid-gap-large);
  }

  // resetting list styles
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: var(--grid-gap);
  grid-auto-flow: dense;
}

.gwg-gallery__gift {
  --gift-card-border-colour: var(--monochrome-4);

  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  border: 1px solid var(--monochrome-4);
  min-height: 200px;
}

.gwg-gallery__gift--large {
  @include mq($from: mobileLandscape) {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.gwg-gallery__gift--wide {
  @include mq($from: mobileLandscape) {
    grid-column: span 2;
  }
}


.gwg-gallery__gift__image {
  //align-self: start;
  border-bottom: 1px solid var(--monochrome-4);
  order: 1;
}

.gwg-gallery__gift__content {
  align-self: start;
  order: 2;
  padding: calc(var(--site-spacing) / 2);
}

.gwg-gallery__gift__title {
  margin-bottom: calc(var(--site-spacing) / 4);
}

.gwg-gallery__gift__desc {
  line-height: 1.3;
}

.gwg-gallery__gift__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 3;
  margin-top: auto;
  padding: calc(var(--site-spacing) / 4);
  border-top: 1px solid var(--gift-card-border-colour);
}
