:root {
  --gwg-gift-card-width: 220px;
  --gwg-gift-card-width-mobile: 200px;
  --gwg-gift-card-width-large: 240px;
}

.gwg-gift-carousel {
  --gift-card-width: var(--gwg-gift-card-width-mobile);
  --grid-gap: var(--site-spacing-half);

  @include mq($from: tablet) {
    --gift-card-width: var(--gwg-gift-card-width);
  }

  @include mq($from: desktop) {
    --gift-card-width: var(--gwg-gift-card-width-large);
    --grid-gap: var(--site-spacing-half-large);
  }

  display: grid;
  grid-gap: var(--grid-gap);
  //grid-template-rows: minmax(var(--gift-card-width), 1fr);
  grid-template-columns:
    var(--grid-gap)
    repeat(5, var(--gift-card-width))
    var(--grid-gap);
  grid-auto-flow: column;

  &:before,
  &:after {
    content: '';
    width: var(--grid-gap);
  }
}

.gwg-gift-carousel__container {
  // making room for scroll bar
  padding-bottom: var(--site-spacing-half-large);
  overflow-x: scroll;
}
