.gwg-hero {
  --hero-background-colour: var(--highlight-background-color);
  background: var(--hero-background-colour);
  height: 75vh;

  @include mq($from: tablet) {
    // color-mix would need a fallback
    background-color: color-mix(in srgb, var(--hero-background-colour) 75%, black);;
  }
}
