:root {
  --main-hero-height: 75vh;
  --gift-guide-hero-height: 60vh;
}

.gwg-hero {
  --hero-background-colour: var(--highlight-background-color);
  --top-offset: calc(50px + var(--site-spacing)); // height of bar (50ish) + site spacing

  background: var(--hero-background-colour);
  height: var(--main-hero-height);
  padding-top: var(--top-offset);

  @include mq($from: tablet) {
    --top-offset: calc(50px + var(--site-spacing-large));
    // color-mix would need a fallback
    background-color: color-mix(in srgb, var(--hero-background-colour) 75%, black);;
  }
}

.gwg-hero--guide {
  height: var(--gift-guide-hero-height);
}


.gwg-hero__container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: var(--site-spacing);
  justify-content: center;
  flex-direction: column;

  @include mq($from: tablet) {
    padding: var(--site-spacing-large);
    align-items: center;
  }
}


.gwg-hero__title {
  @include gwg-font($size: 85, $weight: bold);
  color: var(--main-text-colour);
  letter-spacing: 2px;
}

.gwg-hero__tagline {
  display: block;
  @include gwg-font($size: 25);
  margin-top: var(--site-spacing-half);
  // feels like a guess
  // To do: improve this
  max-width: 29em;
  line-height: 1.4;

  @include mq($from: tablet) {
    text-align: center;
  }
}

.gwg-hero--home {
  .gwg-hero__title {
    @include gwg-font($size: 120, $weight: bold);
  }
}
