//# images displayed in blog posts
.gwg-article {
  .gwg-img {
    max-width: calc(var(--site-spacing-large) * 8);
    border-radius: 1.5em;
    padding: var(--site-spacing);
    background: #e6beae;
  }
}
