:root {
  --main-nav-banner-height: 50px;
  --main-nav-mobile-width: 75%;
  // do we want to set a global size for icons?
  --icon-width: 20px;
  --icon-width-half: calc(var(--icon-width) / 2);
  --site-spacing: 20px;
}

// universal rule?
.icon {
  display: inline-flex;
  width: var(--icon-width);
  height: var(--icon-width);
}

.icon svg {
  width: 100%;
  height: 100%;
}

// should be the panel
.site-nav__panel {
  --nav-panel-width: var(--main-nav-mobile-width);
  display: none;
  --site-nav-background-colour: var(--page-background-colour);
  position: absolute;
  top: 0;
  left: 0;

  min-height: 100vh;
  width: var(--nav-panel-width);
  padding: 5vw;
  background-color: var(--page-background-colour);
  border-right: 2px solid black;

  z-index: 3;

  .site-nav__checkbox:checked ~ & {
    @include mq($until: mobileLandscape) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.site-nav__banner-btn {
  position: absolute;
  top: calc(20px + (var(--main-nav-banner-height) / 2) - var(--icon-width-half));
  left: calc(var(--site-spacing) * 1.5);
  z-index: 2;

  @include mq($from: mobileLandscape) {
    display: none;
  }

  // .icon {
  //   display: inline-flex;
  //   width: 1.2rem;
  // }
}

.site-nav__panel-btn {
  --close-btn-width: 25px;
  display: none;
  position: absolute;
  top: 20px;
  left: calc(var(--main-nav-mobile-width) - 5vw - var(--close-btn-width));
  z-index: 4;
}

.site-nav__checkbox {
  position: absolute;
  display: none !important;

  &:checked {
    display: inline-block;
  }

  &:checked ~ .site-nav__panel-btn {
    display: inline-block;
  }
}

.site-nav__banner {
  --site-nav-banner-height: var(--main-nav-banner-height);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: var(--site-spacing);
  background-color: var(--page-background-colour);
  height: var(--site-nav-banner-height);
  top: 0;
  left: 0;
  width: calc(100% - (2 * var(--site-spacing)));
  padding: 0 5px;

  .nav-links,
  .nav-link {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .nav-links {
    display: none;
    padding: 0;

    @include mq($from: mobileLandscape) {
      display: flex;
    }
  }

  .nav-link {
    padding: 0 5px;
  }

  .site-nav__title {
    order: 2;

    @include mq($until: mobileLandscape) {
      width: 100%;
      text-align: center;
    }
  }

  .site-nav__sections {
    order: 1;
  }

  .site-nav__content-sections {
    order: 3;
  }
}
