{% extends 'layouts/base.html' %}

{% block header %}
{% include 'components/site-nav.html' %}
{% endblock %}

{% block content %}

<article class="gwg-article">
  <div class="gwg-width-container">
    {% block articleHead %}
    <h1 class="gwg-heading-xl">{{ fm.title }}</h1>
    {% endblock articleHead %}
    {% block articleBody %}
    {{ content.main|render_markdown }}
    {% endblock articleBody %}
    {% block articleEnd %}{% endblock articleEnd %}
  </div>
</article>

{% include 'components/footer.html' %}
{% endblock %}
