{% extends 'layouts/base.html' %}

{% block header %}
{% include 'components/site-nav.html' %}
{% endblock %}

{% block content %}

<article class="gwg-article">
  <div class="gwg-width-container">
    {% block articleHead %}
    <div class="gwg-article__content">
      <h1 class="gwg-heading-xl">{{ fm.title }}</h1>
    </div>
    {% endblock articleHead %}

    {%- block articleBody %}
    <div class="gwg-article__content">
    {{ content.main|render_markdown }}
    </div>
    {% endblock articleBody %}

    {%- block articleEnd %}{% endblock articleEnd %}
  </div>
</article>

{% include 'components/footer.html' %}
{% endblock %}
