{%- from 'components/hero.html' import gwgHero %}
<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}" class="{%- if htmlClasses %} {{ htmlClasses }}{% endif %}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pageTitle %}GWG - Gift wrapped giving{% endblock %}</title>

    {%- block headFonts %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% endblock %}

    {%- block headStylesheets %}
    <link rel="stylesheet" href="/static/stylesheets/application.css">
    {% endblock -%}

    {%- block headIcons %}
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    {% endblock -%}

    {%- block head %}{% endblock %}
  </head>
  <body class="{%- if bodyClasses %} {{ bodyClasses }}{% endif %}">
    <script>document.body.className += ' js-enabled';</script>
    {% block bodyStart %}{% endblock %}

    {% block header %}{% endblock %}

    {% block main %}
    <main>
      {%- block content %}
      <h1>Welcome to {{ name }}</h1>
      {% endblock -%}
    </main>
    {% endblock %}

    {% block footer %}{% endblock %}

    {% block bodyEnd %}
      {% block pageScripts %}
      <script src="index.js"></script>
      {% endblock %}
      {% block analyticsScript -%}
      <!-- 100% privacy-first analytics -->
      <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
      <script async src="https://scripts.simpleanalyticscdn.com/inline-events.js"></script>
      {%- endblock analyticsScript %}
    {% endblock %}
  </body>
</html>
