ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


.gwg-list {
  li {
    border-bottom: 1px solid var(--monochrome-1);
  }
}

.gwg-list__item__link {
  display: block;
  padding: var(--site-spacing) 0;
}
