body {
  font-family: "Raleway", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  color: var(--main-text-colour);

  font-family: var(--gwg-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--main-text-colour);
}

////////////////////////////////
/// Headings
////////////////////////////////

%gwg-heading-xl {
  color: var(--main-text-colour);
  @include gwg-font($size: 60, $weight: bold);

  display: block;
  max-width: var(--large-heading-text-width);

  @include gwg-responsive-margin(8, "bottom");
}

.gwg-heading-xl {
  @extend %gwg-heading-xl;
}

%gwg-heading-l {
  color: var(--main-text-colour);
  @include gwg-font($size: 42, $weight: bold);

  display: block;
  max-width: var(--medium-heading-text-width);

  @include gwg-responsive-margin(6, "bottom");
}

.gwg-heading-l {
  @extend %gwg-heading-l;
}

%gwg-heading-m {
  color: var(--main-text-colour);
  @include gwg-font($size: 32, $weight: bold);

  display: block;
  max-width: var(--medium-heading-text-width);

  @include gwg-responsive-margin(4, "bottom");
}

.gwg-heading-m {
  @extend %gwg-heading-m;
}

%gwg-heading-s {
  color: var(--main-text-colour);
  @include gwg-font($size: 25, $weight: bold);

  display: block;
  max-width: var(--small-heading-text-width);

  @include gwg-responsive-margin(4, "bottom");
}

.gwg-heading-s {
  @extend %gwg-heading-s;
}

%gwg-heading-xs {
  color: var(--main-text-colour);
  @include gwg-font($size: 20, $weight: bold);

  display: block;
  max-width: var(--large-body-text-width);

  @include gwg-responsive-margin(2, "bottom");
}

.gwg-heading-xs {
  @extend %gwg-heading-xs;
}


////////////////////////////////
/// paragraphy "body" text
////////////////////////////////

%gwg-body-l {
  max-width: var(--large-body-text-width);
  color: var(--main-text-colour);
  @include gwg-font($size: 25, $line-height: 1.5);

  @include gwg-responsive-margin(6, "bottom");
}

.gwg-body-l {
  @extend %gwg-body-l;
}

%gwg-body-m {
  max-width: var(--body-text-width);
  color: var(--main-text-colour);
  @include gwg-font($size: 20, $line-height: 1.5);

  @include gwg-responsive-margin(4, "bottom");
}

.gwg-body-m {
  @extend %gwg-body-m;
}

%gwg-body-s {
  max-width: var(--body-text-width);
  color: var(--main-text-colour);
  @include gwg-font($size: 16, $line-height: 1.5);

  @include gwg-responsive-margin(4, "bottom");
}

.gwg-body-s {
  @extend %gwg-body-s;
}

%gwg-body-xs {
  color: var(--main-text-colour);
  @include gwg-font($size: 14, $line-height: 1.5);

  @include gwg-responsive-margin(4, "bottom");
}

// Usage aliases

.gwg-body {
  @extend %gwg-body-m;
}

// =========================================================================
// Contextual adjustments
// Add top padding to headings that appear directly after paragraphs.
// =========================================================================

%gwg-body-l + %gwg-heading-l {
  padding-top: gwg-spacing(2);

  @include mq($from: tablet) {
    padding-top: gwg-spacing(3);
  }
}

%gwg-body-m + %gwg-heading-l,
%gwg-body-s + %gwg-heading-l,
%gwg-list + %gwg-heading-l {
  @include gwg-responsive-padding(6, "top");
}

%gwg-body-m + %gwg-heading-m,
%gwg-body-s + %gwg-heading-m,
%gwg-list + %gwg-heading-m,
%gwg-body-m + %gwg-heading-s,
%gwg-body-s + %gwg-heading-s,
%gwg-list + %gwg-heading-s {
  padding-top: gwg-spacing(2);

  @include mq($from: tablet) {
    padding-top: gwg-spacing(3);
  }
}
