@charset "UTF-8";
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 20em) {
  body:before {
    content: "mobile ≥ 320px (20em)";
  }
}
@media (min-width: 30em) {
  body:before {
    content: "mobileLandscape ≥ 480px (30em)";
  }
}
@media (min-width: 46.25em) {
  body:before {
    content: "tablet ≥ 740px (46.25em)";
  }
}
@media (min-width: 61.25em) {
  body:before {
    content: "desktop ≥ 980px (61.25em)";
  }
}
@media (min-width: 81.25em) {
  body:before {
    content: "wide ≥ 1300px (81.25em)";
  }
}

:root {
  --monochrome-white: #fefefe;
  --monochrome-1: #EBEBEB;
  --monochrome-2: #ADADAD;
  --monochrome-3: #858585;
  --monochrome-4: #474747;
  --monochrome-5: #141414;
  --main-text-colour: var(--monochrome-5);
  --page-background-colour: var(--monochrome-white);
  --highlight-background-color: var(--monochrome-2);
}

:root {
  --site-spacing: 20px;
  --site-spacing-large: 30px;
  --site-spacing-half: calc(var(--site-spacing) / 2);
  --site-spacing-half-large: calc(var(--site-spacing-large) / 2);
  --gwg-page-width: 1200px;
  --gwg-page-width-large: 1320px;
  --gwg-grid-gap: calc(var(--site-spacing) / 2);
  --gwg-grid-gap-large: calc(var(--site-spacing-large) / 2);
}

.gwg-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
  user-select: none;
}
.gwg-visually-hidden::before {
  content: " ";
}
.gwg-visually-hidden::after {
  content: " ";
}

.gwg-visually-hidden-focusable:not(:active):not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
  user-select: none;
}

.gwg-section {
  --section-padding: var(--site-spacing);
  padding-top: calc(var(--section-padding) * 2);
  padding-bottom: calc(var(--section-padding) * 2);
}
@media (min-width: 61.25em) {
  .gwg-section {
    --section-padding: var(--site-spacing-large);
  }
}
.gwg-section:last-of-type {
  padding-bottom: calc(var(--section-padding) * 4);
}
.gwg-section .gwg-section__content {
  padding: var(--section-padding);
}
.gwg-section .gwg-section__header {
  padding: 0 var(--section-padding);
  margin-bottom: var(--section-padding);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.gwg-list li {
  border-bottom: 1px solid var(--monochrome-1);
}

.gwg-list__item__link {
  display: block;
  padding: var(--site-spacing) 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  color: var(--main-text-colour);
}

a {
  color: var(--main-text-colour);
}

.gwg-gallery {
  padding: var(--site-spacing);
}

.gwg-gallery > ul {
  --grid-gap: var(--gwg-grid-gap);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: var(--grid-gap);
  grid-auto-flow: dense;
}
@media (min-width: 61.25em) {
  .gwg-gallery > ul {
    --grid-gap: var(--gwg-grid-gap-large);
  }
}

.gwg-gallery__gift {
  list-style: none;
  padding: 0;
  border: 1px solid var(--monochrome-4);
  min-height: 200px;
}

@media (min-width: 30em) {
  .gwg-gallery__gift--large {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (min-width: 30em) {
  .gwg-gallery__gift--wide {
    grid-column: span 2;
  }
}

.gwg-gift {
  display: flex;
  flex-direction: column;
  border-radius: 0.25em;
  box-shadow: 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.gwg-gift__image {
  order: 1;
}

.gwg-gift__content {
  order: 2;
  padding: calc(var(--site-spacing) / 2);
}

.gwg-gift__title {
  margin-bottom: calc(var(--site-spacing) / 4);
}

.gwg-gift__desc {
  line-height: 1.3;
}

.gwg-gift__footer {
  display: flex;
  justify-content: space-between;
  order: 3;
  margin: auto calc(var(--site-spacing) / 2) 0;
  padding-top: calc(var(--site-spacing) / 4);
  padding-bottom: calc(var(--site-spacing) / 4);
  border-top: 1px solid var(--monochrome-2);
}

:root {
  --main-hero-height: 75vh;
  --gift-guide-hero-height: 55vh;
}

.gwg-hero {
  --hero-background-colour: var(--highlight-background-color);
  background: var(--hero-background-colour);
  height: var(--main-hero-height);
}
@media (min-width: 46.25em) {
  .gwg-hero {
    background-color: color-mix(in srgb, var(--hero-background-colour) 75%, black);
  }
}

.gwg-hero--guide {
  height: var(--gift-guide-hero-height);
}

.gwg-footer {
  --footer-background-colour: var(--highlight-background-color);
  padding: var(--site-spacing);
  background: var(--footer-background-colour);
}

.gwg-guide-grid {
  --grid-gap: var(--gwg-grid-gap);
  display: grid;
  grid-template-columns: var(--grid-gap) repeat(8, 1fr) var(--grid-gap);
  gap: var(--grid-gap);
}
@media (min-width: 61.25em) {
  .gwg-guide-grid {
    --grid-gap: var(--gwg-grid-gap-large);
  }
}
@media (min-width: 46.25em) {
  .gwg-guide-grid {
    grid-template-columns: var(--grid-gap) repeat(24, 1fr) var(--grid-gap);
  }
  .gwg-guide-grid:before {
    content: "";
    width: var(--grid-gap);
  }
}
.gwg-guide-grid > div {
  height: 100px;
  grid-column: 2/span 8;
}
@media (min-width: 46.25em) {
  .gwg-guide-grid > div {
    grid-column: span 8;
  }
}

.gwg-guide {
  display: inline;
  border: 1px solid #ccc;
}

:root {
  --main-nav-banner-height: 50px;
  --main-nav-mobile-width: 85%;
  --icon-width: 20px;
  --icon-width-half: calc(var(--icon-width) / 2);
  --site-spacing: 20px;
}

.icon {
  display: inline-flex;
  width: var(--icon-width);
  height: var(--icon-width);
}

.icon svg {
  width: 100%;
  height: 100%;
}

.site-nav__panel {
  --nav-panel-width: var(--main-nav-mobile-width);
  display: none;
  --site-nav-background-colour: var(--page-background-colour);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: var(--nav-panel-width);
  padding: 5vw;
  background-color: var(--page-background-colour);
  border-right: 2px solid black;
  z-index: 3;
}
@media (max-width: 29.99em) {
  .site-nav__checkbox:checked ~ .site-nav__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.site-nav__panel__nav {
  padding: var(--site-spacing) 0;
}
.site-nav__panel__nav li {
  padding: var(--site-spacing) 0;
}

.site-nav__panel__footer {
  padding-top: var(--site-spacing);
  border-top: 1px solid var(--monochrome-2);
}

.site-nav__banner-btn {
  position: absolute;
  top: calc(20px + var(--main-nav-banner-height) / 2 - var(--icon-width-half));
  left: calc(var(--site-spacing) * 1.5);
  z-index: 2;
}
@media (min-width: 30em) {
  .site-nav__banner-btn {
    display: none;
  }
}

.site-nav__panel-btn {
  --close-btn-width: 25px;
  display: none;
  position: absolute;
  top: 20px;
  left: calc(var(--main-nav-mobile-width) - 5vw - var(--close-btn-width));
  z-index: 4;
}

.site-nav__checkbox {
  position: absolute;
  display: none !important;
}
.site-nav__checkbox:checked {
  display: inline-block;
}
.site-nav__checkbox:checked ~ .site-nav__panel-btn {
  display: inline-block;
}

.site-nav__banner {
  --site-nav-banner-height: var(--main-nav-banner-height);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: var(--site-spacing);
  background-color: var(--page-background-colour);
  height: var(--site-nav-banner-height);
  top: 0;
  left: 0;
  width: calc(100% - 2 * var(--site-spacing));
  padding: 0 5px;
}
.site-nav__banner .nav-links,
.site-nav__banner .nav-link {
  display: flex;
  height: 100%;
  align-items: center;
}
.site-nav__banner .nav-links {
  display: none;
  padding: 0;
}
@media (min-width: 30em) {
  .site-nav__banner .nav-links {
    display: flex;
  }
}
.site-nav__banner .nav-link {
  padding: 0 5px;
}
.site-nav__banner .site-nav__title {
  order: 2;
}
@media (max-width: 29.99em) {
  .site-nav__banner .site-nav__title {
    width: 100%;
    text-align: center;
  }
}
.site-nav__banner .site-nav__sections {
  order: 1;
}
.site-nav__banner .site-nav__content-sections {
  order: 3;
}

:root {
  --gwg-gift-card-width: 220px;
  --gwg-gift-card-width-mobile: 200px;
  --gwg-gift-card-width-large: 240px;
}

.gwg-gift-carousel {
  --gift-card-width: var(--gwg-gift-card-width-mobile);
  --grid-gap: var(--site-spacing-half);
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: var(--grid-gap) repeat(5, var(--gift-card-width)) var(--grid-gap);
  grid-auto-flow: column;
  overflow-x: scroll;
}
@media (min-width: 46.25em) {
  .gwg-gift-carousel {
    --gift-card-width: var(--gwg-gift-card-width);
  }
}
@media (min-width: 61.25em) {
  .gwg-gift-carousel {
    --gift-card-width: var(--gwg-gift-card-width-large);
    --grid-gap: var(--site-spacing-half-large);
  }
}
.gwg-gift-carousel:before, .gwg-gift-carousel:after {
  content: "";
  width: var(--grid-gap);
}

.gwg-list__container {
  --top-padding: 100px;
  padding: var(--top-padding) var(--site-spacing) var(--site-spacing);
}

h1 {
  color: grey;
}

.gwg-width-container {
  max-width: var(--gwg-page-width-large);
  margin-right: var(--site-spacing-half);
  margin-left: var(--site-spacing-half);
}
@supports (margin: max(calc(0px))) {
  .gwg-width-container {
    margin-right: max(var(--site-spacing-half), calc(var(--site-spacing-half) + env(safe-area-inset-right)));
    margin-left: max(var(--site-spacing-half), calc(var(--site-spacing-half) + env(safe-area-inset-left)));
  }
}
@media (min-width: 46.25em) {
  .gwg-width-container {
    margin-right: var(--site-spacing);
    margin-left: var(--site-spacing);
  }
  @supports (margin: max(calc(0px))) {
    .gwg-width-container {
      margin-right: max(var(--site-spacing), calc(var(--site-spacing-half) + env(safe-area-inset-right)));
      margin-left: max(var(--site-spacing), calc(var(--site-spacing-half) + env(safe-area-inset-left)));
    }
  }
}
@media (min-width: 1380px) {
  .gwg-width-container {
    margin-right: auto;
    margin-left: auto;
  }
  @supports (margin: max(calc(0px))) {
    .gwg-width-container {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.gwg-gift {
  border: 1px solid #ccc;
}

.gwg-gallery__gift {
  display: grid;
  justify-content: center;
  align-items: center;
}

.sge-example {
  padding: 20px;
  border: 1px solid var(--gwg-border-colour, #cccccc);
  margin-bottom: calc(var(--site-spacing) * 2);
}

body {
  padding: var(--site-spacing);
}

.checkbox-label-2 {
  display: block;
  margin-top: 45px;
}

.sg-grid-wrapper {
  display: grid;
  grid-template-columns: 20px repeat(8, 1fr) 20px;
  gap: 10px;
}
@media (min-width: 46.25em) {
  .sg-grid-wrapper {
    grid-template-columns: 20px repeat(24, 1fr) 20px;
  }
  .sg-grid-wrapper:before {
    content: "";
    width: 20px;
  }
}
.sg-grid-wrapper > div {
  height: 100px;
  border: 1px solid #ccc;
  grid-column: 2/span 8;
}
@media (min-width: 46.25em) {
  .sg-grid-wrapper > div {
    grid-column: span 8;
  }
}

.sg-guide {
  display: inline;
}

.sg-gift-grid-wrapper {
  --gutter: 20px;
  --gift-card-size: 200px;
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-rows: minmax(var(--gift-card-size), 1fr);
  grid-template-columns: 10px repeat(4, var(--gift-card-size)) 10px;
  grid-auto-flow: column;
  overflow-x: scroll;
}
.sg-gift-grid-wrapper:before, .sg-gift-grid-wrapper:after {
  content: "";
  width: 10px;
}

.sg-gift {
  border: 1px solid #ccc;
}

.sg-gallery > ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: var(--grid-gap);
  grid-auto-flow: dense;
}

.sg-gallery__gift {
  list-style: none;
  padding: 0;
  border: 1px solid var(--monochrome-4);
  min-height: 200px;
}

@media (min-width: 30em) {
  .sg-gallery__gift--large {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (min-width: 30em) {
  .sg-gallery__gift--wide {
    grid-column: span 2;
  }
}

/*# sourceMappingURL=styleguide.css.map */
