@charset "UTF-8";
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body:before {
  background-color: #fcf8e3;
  border-bottom: 1px solid #fbeed5;
  border-left: 1px solid #fbeed5;
  color: #c09853;
  font: small-caption;
  padding: 3px 6px;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}
@media (min-width: 20em) {
  body:before {
    content: "mobile ≥ 320px (20em)";
  }
}
@media (min-width: 30em) {
  body:before {
    content: "mobileLandscape ≥ 480px (30em)";
  }
}
@media (min-width: 46.25em) {
  body:before {
    content: "tablet ≥ 740px (46.25em)";
  }
}
@media (min-width: 61.25em) {
  body:before {
    content: "desktop ≥ 980px (61.25em)";
  }
}
@media (min-width: 81.25em) {
  body:before {
    content: "wide ≥ 1300px (81.25em)";
  }
}

:root {
  --page-background-colour: #ffffff;
  --highlight-background-color: #f6be9a;
}

:root {
  --site-spacing: 20px;
}

.gwg-hero {
  --hero-background-colour: var(--highlight-background-color);
  background: var(--hero-background-colour);
  height: 75vh;
}
@media (min-width: 46.25em) {
  .gwg-hero {
    background-color: color-mix(in srgb, var(--hero-background-colour) 75%, black);
  }
}

:root {
  --main-nav-banner-height: 50px;
  --main-nav-mobile-width: 75%;
  --icon-width: 20px;
  --icon-width-half: calc(var(--icon-width) / 2);
  --site-spacing: 20px;
}

.icon {
  display: inline-flex;
  width: var(--icon-width);
  height: var(--icon-width);
}

.icon svg {
  width: 100%;
  height: 100%;
}

.site-nav__panel {
  --nav-panel-width: var(--main-nav-mobile-width);
  display: none;
  --site-nav-background-colour: var(--page-background-colour);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: var(--nav-panel-width);
  padding: 5vw;
  background-color: var(--page-background-colour);
  border-right: 2px solid black;
  z-index: 3;
}
@media (max-width: 29.99em) {
  .site-nav__checkbox:checked ~ .site-nav__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.site-nav__banner-btn {
  position: absolute;
  top: calc(20px + var(--main-nav-banner-height) / 2 - var(--icon-width-half));
  left: calc(var(--site-spacing) * 1.5);
  z-index: 2;
}
@media (min-width: 30em) {
  .site-nav__banner-btn {
    display: none;
  }
}

.site-nav__panel-btn {
  --close-btn-width: 25px;
  display: none;
  position: absolute;
  top: 20px;
  left: calc(var(--main-nav-mobile-width) - 5vw - var(--close-btn-width));
  z-index: 4;
}

.site-nav__checkbox {
  position: absolute;
  display: none !important;
}
.site-nav__checkbox:checked {
  display: inline-block;
}
.site-nav__checkbox:checked ~ .site-nav__panel-btn {
  display: inline-block;
}

.site-nav__banner {
  --site-nav-banner-height: var(--main-nav-banner-height);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: var(--site-spacing);
  background-color: var(--page-background-colour);
  height: var(--site-nav-banner-height);
  top: 0;
  left: 0;
  width: calc(100% - 2 * var(--site-spacing));
  padding: 0 5px;
}
.site-nav__banner .nav-links,
.site-nav__banner .nav-link {
  display: flex;
  height: 100%;
  align-items: center;
}
.site-nav__banner .nav-links {
  display: none;
  padding: 0;
}
@media (min-width: 30em) {
  .site-nav__banner .nav-links {
    display: flex;
  }
}
.site-nav__banner .nav-link {
  padding: 0 5px;
}
.site-nav__banner .site-nav__title {
  order: 2;
}
@media (max-width: 29.99em) {
  .site-nav__banner .site-nav__title {
    width: 100%;
    text-align: center;
  }
}
.site-nav__banner .site-nav__sections {
  order: 1;
}
.site-nav__banner .site-nav__content-sections {
  order: 3;
}

h1 {
  color: grey;
}

.sge-example {
  padding: 20px;
  border: 1px solid var(--gwg-border-colour, #cccccc);
  margin-bottom: calc(var(--site-spacing) * 2);
}

body {
  padding: var(--site-spacing);
}

.checkbox-label-2 {
  display: block;
  margin-top: 45px;
}

.sg-grid-wrapper {
  display: grid;
  grid-template-columns: 20px repeat(8, 1fr) 20px;
  gap: 10px;
}
@media (min-width: 46.25em) {
  .sg-grid-wrapper {
    grid-template-columns: 20px repeat(24, 1fr) 20px;
  }
  .sg-grid-wrapper:before {
    content: "";
    width: 20px;
  }
}
.sg-grid-wrapper > div {
  height: 100px;
  border: 1px solid #ccc;
  grid-column: 2/span 8;
}
@media (min-width: 46.25em) {
  .sg-grid-wrapper > div {
    grid-column: span 8;
  }
}

.sg-guide {
  display: inline;
}

.sg-gift-grid-wrapper {
  --gutter: 20px;
  --gift-card-size: 200px;
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-rows: minmax(var(--gift-card-size), 1fr);
  grid-template-columns: 10px repeat(4, var(--gift-card-size)) 10px;
  grid-auto-flow: column;
  overflow-x: scroll;
}
.sg-gift-grid-wrapper:before, .sg-gift-grid-wrapper:after {
  content: "";
  width: 10px;
}

.sg-gift {
  border: 1px solid #ccc;
}

/*# sourceMappingURL=styleguide.css.map */
