@charset "UTF-8";
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --monochrome-white: #fefefe;
  --monochrome-1: #EBEBEB;
  --monochrome-2: #ADADAD;
  --monochrome-3: #858585;
  --monochrome-4: #474747;
  --monochrome-5: #141414;
  --main-text-colour: var(--monochrome-5);
  --page-background-colour: var(--monochrome-white);
  --highlight-background-color: var(--monochrome-2);
  --hero-img-cream: #EEE9E0;
}

:root {
  --site-spacing: 20px;
  --site-spacing-large: 30px;
  --site-spacing-half: calc(var(--site-spacing) / 2);
  --site-spacing-half-large: calc(var(--site-spacing-large) / 2);
  --gwg-page-width: 1200px;
  --gwg-page-width-large: 1320px;
  --gwg-grid-gap: calc(var(--site-spacing) / 2);
  --gwg-grid-gap-large: calc(var(--site-spacing-large) / 2);
}

:root {
  --gwg-font-family: "Nunito Sans", sans-serif;
  --gwg-font-weight-regular: 400;
  --gwg-font-weight-bold: 700;
}

.gwg-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
  user-select: none;
}
.gwg-visually-hidden::before {
  content: " ";
}
.gwg-visually-hidden::after {
  content: " ";
}

.gwg-visually-hidden-focusable:not(:active):not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
  user-select: none;
}

.gwg-article {
  margin: calc(var(--site-spacing) * 8) 0;
}

.gwg-article__content {
  margin: 0 auto;
  max-width: min(40.25rem, 100vw - var(--site-spacing) * 2);
}

.gwg-section {
  --section-padding: var(--site-spacing);
  padding-top: calc(var(--section-padding) * 2);
  padding-bottom: calc(var(--section-padding) * 2);
}
@media (min-width: 61.25em) {
  .gwg-section {
    --section-padding: var(--site-spacing-large);
  }
}
.gwg-section:last-of-type {
  padding-bottom: calc(var(--section-padding) * 4);
}
.gwg-section .gwg-section__content {
  padding: var(--section-padding);
}
.gwg-section .gwg-section__header {
  padding: 0 var(--section-padding);
  margin-bottom: var(--section-padding);
}

ul {
  margin: 0;
  padding: 0;
}

.gwg-list {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3125;
  color: var(--main-text-colour);
  margin-top: 0;
  margin-bottom: 15px;
  padding-left: 0;
  list-style-type: none;
}
@media (min-width: 46.25em) {
  .gwg-list {
    font-size: 1.25rem;
    line-height: 1.35;
  }
}
@media (min-width: 46.25em) {
  .gwg-list {
    margin-bottom: 20px;
  }
}
.gwg-list .gwg-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.gwg-list > li {
  margin-bottom: 5px;
}

.gwg-list--bullet {
  padding-left: 20px;
  list-style-type: disc;
}

.gwg-list--number {
  padding-left: 20px;
  list-style-type: decimal;
}

.gwg-list--bullet > li,
.gwg-list--number > li {
  margin-bottom: 0;
}
@media (min-width: 46.25em) {
  .gwg-list--bullet > li,
  .gwg-list--number > li {
    margin-bottom: 5px;
  }
}

.gwg-list li {
  border-bottom: 1px solid var(--monochrome-1);
}

.gwg-list--guide {
  padding: 0 var(--site-spacing);
}
@media (min-width: 61.25em) {
  .gwg-list--guide {
    padding: 0 var(--site-spacing-large);
  }
}

.gwg-list__item--guide {
  position: relative;
}

.gwg-guide-list-item {
  position: absolute;
  display: block;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
.gwg-guide-list-item svg {
  height: var(--site-spacing);
}
.gwg-guide-list-item path {
  fill: var(--main-text-colour);
}

.gwg-list__item__link {
  display: block;
  padding: var(--site-spacing) 5px;
  text-decoration: none;
}
.gwg-list__item__link:hover {
  background: var(--monochrome-1);
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito Sans", sans-serif;
  color: var(--main-text-colour);
  font-family: var(--gwg-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--main-text-colour);
}

.gwg-heading-xl {
  color: var(--main-text-colour);
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 1.0952380952;
  display: block;
  max-width: var(--large-heading-text-width);
  margin-bottom: 30px;
}
@media (min-width: 46.25em) {
  .gwg-heading-xl {
    font-size: 3.75rem;
    line-height: 1.0666666667;
  }
}
@media (min-width: 46.25em) {
  .gwg-heading-xl {
    margin-bottom: 50px;
  }
}

.gwg-heading-l {
  color: var(--main-text-colour);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.09375;
  display: block;
  max-width: var(--medium-heading-text-width);
  margin-bottom: 20px;
}
@media (min-width: 46.25em) {
  .gwg-heading-l {
    font-size: 2.625rem;
    line-height: 1.0952380952;
  }
}
@media (min-width: 46.25em) {
  .gwg-heading-l {
    margin-bottom: 30px;
  }
}

.gwg-heading-m {
  color: var(--main-text-colour);
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.2;
  display: block;
  max-width: var(--medium-heading-text-width);
  margin-bottom: 15px;
}
@media (min-width: 46.25em) {
  .gwg-heading-m {
    font-size: 2rem;
    line-height: 1.09375;
  }
}
@media (min-width: 46.25em) {
  .gwg-heading-m {
    margin-bottom: 20px;
  }
}

.gwg-heading-s {
  color: var(--main-text-colour);
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
  display: block;
  max-width: var(--small-heading-text-width);
  margin-bottom: 15px;
}
@media (min-width: 46.25em) {
  .gwg-heading-s {
    font-size: 1.5625rem;
    line-height: 1.28;
  }
}
@media (min-width: 46.25em) {
  .gwg-heading-s {
    margin-bottom: 20px;
  }
}

.gwg-heading-xs {
  color: var(--main-text-colour);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3125;
  display: block;
  max-width: var(--large-body-text-width);
  margin-bottom: 10px;
}
@media (min-width: 46.25em) {
  .gwg-heading-xs {
    font-size: 1.25rem;
    line-height: 1.35;
  }
}
@media (min-width: 46.25em) {
  .gwg-heading-xs {
    margin-bottom: 10px;
  }
}

.gwg-body-l {
  max-width: var(--large-body-text-width);
  color: var(--main-text-colour);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media (min-width: 46.25em) {
  .gwg-body-l {
    font-size: 1.5625rem;
    line-height: 1.5;
  }
}
@media (min-width: 46.25em) {
  .gwg-body-l {
    margin-bottom: 30px;
  }
}

.gwg-body, .gwg-body-m {
  max-width: var(--body-text-width);
  color: var(--main-text-colour);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
}
@media (min-width: 46.25em) {
  .gwg-body, .gwg-body-m {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
@media (min-width: 46.25em) {
  .gwg-body, .gwg-body-m {
    margin-bottom: 20px;
  }
}

.gwg-body-s {
  max-width: var(--body-text-width);
  color: var(--main-text-colour);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 15px;
}
@media (min-width: 46.25em) {
  .gwg-body-s {
    font-size: 1rem;
    line-height: 1.5;
  }
}
@media (min-width: 46.25em) {
  .gwg-body-s {
    margin-bottom: 20px;
  }
}

.gwg-body-l + .gwg-heading-l {
  padding-top: 10px;
}
@media (min-width: 46.25em) {
  .gwg-body-l + .gwg-heading-l {
    padding-top: 15px;
  }
}

.gwg-body-m + .gwg-heading-l, .gwg-body + .gwg-heading-l,
.gwg-body-s + .gwg-heading-l,
.gwg-list + .gwg-heading-l {
  padding-top: 20px;
}
@media (min-width: 46.25em) {
  .gwg-body-m + .gwg-heading-l, .gwg-body + .gwg-heading-l,
  .gwg-body-s + .gwg-heading-l,
  .gwg-list + .gwg-heading-l {
    padding-top: 30px;
  }
}

.gwg-body-m + .gwg-heading-m, .gwg-body + .gwg-heading-m,
.gwg-body-s + .gwg-heading-m,
.gwg-list + .gwg-heading-m,
.gwg-body-m + .gwg-heading-s,
.gwg-body + .gwg-heading-s,
.gwg-body-s + .gwg-heading-s,
.gwg-list + .gwg-heading-s {
  padding-top: 10px;
}
@media (min-width: 46.25em) {
  .gwg-body-m + .gwg-heading-m, .gwg-body + .gwg-heading-m,
  .gwg-body-s + .gwg-heading-m,
  .gwg-list + .gwg-heading-m,
  .gwg-body-m + .gwg-heading-s,
  .gwg-body + .gwg-heading-s,
  .gwg-body-s + .gwg-heading-s,
  .gwg-list + .gwg-heading-s {
    padding-top: 15px;
  }
}

.gwg-blog_heading {
  --gwg-blog-heading-margin: var(--site-spacing);
  margin-top: calc(var(--gwg-blog-heading-margin) * 2);
  margin-bottom: calc(var(--gwg-blog-heading-margin) * 3);
}
@media (min-width: 46.25em) {
  .gwg-blog_heading {
    --gwg-blog-heading-margin: var(--site-spacing-large);
  }
}

.gwg-blog-item {
  list-style: none;
  --gwg-blog-item-bottom-margin: var(--site-spacing);
  margin-bottom: calc(var(--gwg-blog-item-bottom-margin) * 2);
}
@media (min-width: 46.25em) {
  .gwg-blog-item {
    --gwg-blog-item-bottom-margin: var(--site-spacing-large);
  }
}

.gwg-gallery__container {
  padding: var(--site-spacing);
  padding-bottom: calc(2 * var(--site-spacing));
}
@media (min-width: 46.25em) {
  .gwg-gallery__container {
    padding: var(--site-spacing-large);
    padding-bottom: calc(2 * var(--site-spacing-large));
  }
}

.gwg-gallery {
  --grid-gap: var(--gwg-grid-gap);
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: var(--grid-gap);
  grid-auto-flow: dense;
}
@media (min-width: 61.25em) {
  .gwg-gallery {
    --grid-gap: var(--gwg-grid-gap-large);
  }
}

.gwg-gallery__gift {
  --gift-card-border-colour: var(--monochrome-4);
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  border: 1px solid var(--monochrome-4);
  min-height: 200px;
}

@media (min-width: 32.5em) {
  .gwg-gallery__gift--large {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (min-width: 32.5em) {
  .gwg-gallery__gift--wide {
    grid-column: span 2;
  }
}

.gwg-gallery__gift__image {
  border-bottom: 1px solid var(--monochrome-4);
  order: 1;
}

.gwg-gallery__gift__content {
  align-self: start;
  order: 2;
  padding: calc(var(--site-spacing) / 2);
}

.gwg-gallery__gift__title {
  margin-bottom: calc(var(--site-spacing) / 4);
}

.gwg-gallery__gift__desc {
  line-height: 1.3;
}

.gwg-gallery__gift__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  order: 3;
  margin-top: auto;
  padding: calc(var(--site-spacing) / 4);
  border-top: 1px solid var(--gift-card-border-colour);
}

.gwg-gift {
  display: flex;
  flex-direction: column;
  border-radius: 0.25em;
  box-shadow: 20px 40px -14px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.gwg-gift__image {
  order: 1;
}

.gwg-gift__content {
  order: 2;
  padding: calc(var(--site-spacing) / 2);
}

.gwg-gift__title {
  margin-bottom: calc(var(--site-spacing) / 4);
}

.gwg-gift__desc {
  line-height: 1.3;
}

.gwg-gift__footer {
  display: flex;
  justify-content: space-between;
  order: 3;
  margin: auto calc(var(--site-spacing) / 2) 0;
  padding-top: calc(var(--site-spacing) / 4);
  padding-bottom: calc(var(--site-spacing) / 4);
  border-top: 1px solid var(--monochrome-2);
}

:root {
  --main-hero-height: 75vh;
  --gift-guide-hero-height: 60vh;
  --title-ch-max: 25ch;
}

.gwg-hero {
  --hero-background-colour: var(--highlight-background-color);
  --top-offset: calc(50px + var(--site-spacing));
  --hero-text-colour: var(--main-text-colour);
  background: var(--hero-background-colour);
  padding-top: var(--top-offset);
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
@media (min-width: 46.25em) {
  .gwg-hero {
    --top-offset: calc(50px + var(--site-spacing-large));
    background-color: color-mix(in srgb, var(--hero-background-colour) 75%, black);
  }
}
@media (max-width: 61.24em) and (orientation: portrait) {
  .gwg-hero {
    aspect-ratio: 4/5;
  }
}

.gwg-hero--main {
  --hero-text-colour: var(--hero-img-cream);
}

.gwg-hero__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gwg-hero__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gwg-hero--guide {
  height: var(--gift-guide-hero-height);
}

.gwg-hero__container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  height: 100%;
  width: 100%;
  padding: var(--site-spacing);
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 46.25em) {
  .gwg-hero__container {
    padding: var(--site-spacing-large);
    align-items: center;
  }
}

.gwg-hero__title {
  font-size: clamp(32px, 5.8vw, 85px);
  max-width: var(--title-ch-max);
  padding-top: var(--site-spacing-large);
  color: var(--hero-text-colour);
  letter-spacing: 2px;
}
@media (min-width: 46.25em) {
  .gwg-hero__title {
    text-align: center;
  }
}

.gwg-hero__tagline {
  display: block;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-top: var(--site-spacing-half);
  max-width: 29em;
  line-height: 1.4;
}
@media (min-width: 46.25em) {
  .gwg-hero__tagline {
    font-size: 1.5625rem;
    line-height: 1.28;
  }
}
@media (min-width: 46.25em) {
  .gwg-hero__tagline {
    text-align: center;
  }
}

.gwg-hero--home .gwg-hero__title {
  font-weight: 700;
  font-size: 5.3125rem;
  line-height: 1;
}
@media (min-width: 46.25em) {
  .gwg-hero--home .gwg-hero__title {
    font-size: 7.5rem;
    line-height: 1;
  }
}

.gwg-footer {
  --footer-background-colour: var(--highlight-background-color);
  padding: calc(2 * var(--site-spacing)) var(--site-spacing);
  background: var(--footer-background-colour);
}
@media (min-width: 46.25em) {
  .gwg-footer {
    padding: calc(2 * var(--site-spacing-large)) var(--site-spacing-large);
  }
}

.gwg-footer__title {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.667em;
}

.gwg-guide-grid {
  --grid-gap: var(--gwg-grid-gap);
  display: grid;
  grid-template-columns: var(--grid-gap) repeat(8, 1fr) var(--grid-gap);
  gap: var(--grid-gap);
}
@media (min-width: 61.25em) {
  .gwg-guide-grid {
    --grid-gap: var(--gwg-grid-gap-large);
  }
}
@media (min-width: 46.25em) {
  .gwg-guide-grid {
    grid-template-columns: var(--grid-gap) repeat(24, 1fr) var(--grid-gap);
  }
  .gwg-guide-grid:before {
    content: "";
    width: var(--grid-gap);
  }
}
.gwg-guide-grid > div {
  height: 100px;
  grid-column: 2/span 8;
}
@media (min-width: 46.25em) {
  .gwg-guide-grid > div {
    grid-column: span 8;
  }
}

.gwg-guide {
  display: inline;
  border: 1px solid #ccc;
}

:root {
  --main-nav-banner-height: 45px;
  --main-nav-mobile-width: 85%;
  --icon-width: 20px;
  --icon-width-half: calc(var(--icon-width) / 2);
}

.icon {
  display: inline-flex;
  width: var(--icon-width);
  height: var(--icon-width);
}

.icon svg {
  width: 100%;
  height: 100%;
}

.site-nav__title {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
}
@media (min-width: 46.25em) {
  .site-nav__title {
    font-size: 1.5625rem;
    line-height: 1.28;
  }
}

.site-nav__panel {
  --nav-panel-width: var(--main-nav-mobile-width);
  display: none;
  --site-nav-background-colour: var(--page-background-colour);
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: var(--nav-panel-width);
  padding: 5vw;
  background-color: var(--page-background-colour);
  border-right: 2px solid black;
  z-index: 4;
}
@media (max-width: 32.49em) {
  .site-nav__checkbox:checked ~ .site-nav__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.site-nav__panel__nav {
  padding: var(--site-spacing) 0;
}
.site-nav__panel__nav li {
  padding: var(--site-spacing) 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3125;
  list-style: none;
}
@media (min-width: 46.25em) {
  .site-nav__panel__nav li {
    font-size: 1.25rem;
    line-height: 1.35;
  }
}

.site-nav__panel__footer {
  padding-top: var(--site-spacing);
  border-top: 1px solid var(--monochrome-2);
}

.site-nav__banner-btn {
  position: absolute;
  top: calc(20px + var(--main-nav-banner-height) / 2 - var(--icon-width-half));
  left: calc(var(--site-spacing) * 1.5);
  z-index: 4;
}
@media (min-width: 32.5em) {
  .site-nav__banner-btn {
    display: none;
  }
}

.site-nav__panel-btn {
  --close-btn-width: 25px;
  display: none;
  position: absolute;
  top: 20px;
  left: calc(var(--main-nav-mobile-width) - 5vw - var(--close-btn-width));
  z-index: 5;
}

.site-nav__checkbox {
  position: absolute;
  display: none !important;
}
.site-nav__checkbox:checked {
  display: inline-block;
}
.site-nav__checkbox:checked ~ .site-nav__panel-btn {
  display: inline-block;
}

.site-nav__banner {
  --nav-banner-spacing: var(--site-spacing);
  --nav-banner-spacing-half: var(--site-spacing-half);
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: var(--nav-banner-spacing);
  padding: var(--site-spacing-half) 0;
  background-color: var(--page-background-colour);
  top: 0;
  left: 0;
  height: 45px;
  z-index: 3;
  width: calc(100% - var(--nav-banner-spacing) * 2);
}
@media (min-width: 46.25em) {
  .site-nav__banner {
    --nav-banner-spacing: var(--site-spacing-large);
    --nav-banner-spacing-half: var(--site-spacing-half-large);
  }
}
.site-nav__banner .nav-links,
.site-nav__banner .nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2142857143;
}
@media (min-width: 46.25em) {
  .site-nav__banner .nav-links,
  .site-nav__banner .nav-link {
    font-size: 1rem;
    line-height: 1.375;
  }
}
.site-nav__banner .nav-links {
  display: none;
  padding: 0;
}
@media (min-width: 32.5em) {
  .site-nav__banner .nav-links {
    display: flex;
  }
}
.site-nav__banner .site-nav__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@media (max-width: 32.49em) {
  .site-nav__banner .site-nav__title {
    width: 100%;
    text-align: center;
  }
}
.site-nav__banner .site-nav__title a {
  text-decoration: none;
}
.site-nav__banner .site-nav__sections {
  order: 1;
  margin-left: var(--nav-banner-spacing-half);
}
.site-nav__banner .site-nav__sections li {
  padding: 0 var(--nav-banner-spacing-half);
}
.site-nav__banner .site-nav__content-sections {
  order: 3;
  margin-right: var(--nav-banner-spacing-half);
}
.site-nav__banner .site-nav__content-sections li {
  padding: 0 var(--nav-banner-spacing-half);
}

.site-nav__container {
  position: relative;
  z-index: 3;
}

:root {
  --gwg-gift-card-width: 220px;
  --gwg-gift-card-width-mobile: 200px;
  --gwg-gift-card-width-large: 240px;
}

.gwg-gift-carousel {
  --gift-card-width: var(--gwg-gift-card-width-mobile);
  --grid-gap: var(--site-spacing-half);
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: var(--grid-gap) repeat(5, var(--gift-card-width)) var(--grid-gap);
  grid-auto-flow: column;
}
@media (min-width: 46.25em) {
  .gwg-gift-carousel {
    --gift-card-width: var(--gwg-gift-card-width);
  }
}
@media (min-width: 61.25em) {
  .gwg-gift-carousel {
    --gift-card-width: var(--gwg-gift-card-width-large);
    --grid-gap: var(--site-spacing-half-large);
  }
}
.gwg-gift-carousel:before, .gwg-gift-carousel:after {
  content: "";
  width: var(--grid-gap);
}

.gwg-gift-carousel__container {
  padding-bottom: var(--site-spacing-half-large);
  overflow-x: scroll;
}

.gwg-list__container {
  --top-offset: calc(50px + var(--site-spacing));
  --list-vertical-extents-padding: 65px;
  --list-side-padding: var(--site-spacing);
  padding: var(--top-offset) var(--list-side-padding) var(--list-vertical-extents-padding);
}
@media (min-width: 46.25em) {
  .gwg-list__container {
    --top-offset: calc(50px + var(--site-spacing-large));
    --list-vertical-extents-padding: 85px;
    --list-side-padding: var(--site-spacing-large);
  }
}

.gwg-list__header {
  margin: var(--list-vertical-extents-padding) 0;
}
.gwg-list__header h1 {
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 1.0952380952;
}
@media (min-width: 46.25em) {
  .gwg-list__header h1 {
    font-size: 3.75rem;
    line-height: 1.0666666667;
  }
}

h1 {
  color: grey;
}

.gwg-width-container {
  max-width: var(--gwg-page-width-large);
  margin-right: var(--site-spacing-half);
  margin-left: var(--site-spacing-half);
}
@supports (margin: max(calc(0px))) {
  .gwg-width-container {
    margin-right: max(var(--site-spacing-half), calc(var(--site-spacing-half) + env(safe-area-inset-right)));
    margin-left: max(var(--site-spacing-half), calc(var(--site-spacing-half) + env(safe-area-inset-left)));
  }
}
@media (min-width: 46.25em) {
  .gwg-width-container {
    margin-right: var(--site-spacing);
    margin-left: var(--site-spacing);
  }
  @supports (margin: max(calc(0px))) {
    .gwg-width-container {
      margin-right: max(var(--site-spacing), calc(var(--site-spacing-half) + env(safe-area-inset-right)));
      margin-left: max(var(--site-spacing), calc(var(--site-spacing-half) + env(safe-area-inset-left)));
    }
  }
}
@media (min-width: 1380px) {
  .gwg-width-container {
    margin-right: auto;
    margin-left: auto;
  }
  @supports (margin: max(calc(0px))) {
    .gwg-width-container {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.gwg-gift {
  border: 1px solid #ccc;
}

.sge-example {
  padding: 20px;
  border: 1px solid var(--gwg-border-colour, #cccccc);
  margin-bottom: calc(var(--site-spacing) * 2);
}

body {
  padding: var(--site-spacing);
}

.checkbox-label-2 {
  display: block;
  margin-top: 45px;
}

.sg-grid-wrapper {
  display: grid;
  grid-template-columns: 20px repeat(8, 1fr) 20px;
  gap: 10px;
}
@media (min-width: 46.25em) {
  .sg-grid-wrapper {
    grid-template-columns: 20px repeat(24, 1fr) 20px;
  }
  .sg-grid-wrapper:before {
    content: "";
    width: 20px;
  }
}
.sg-grid-wrapper > div {
  height: 100px;
  border: 1px solid #ccc;
  grid-column: 2/span 8;
}
@media (min-width: 46.25em) {
  .sg-grid-wrapper > div {
    grid-column: span 8;
  }
}

.sg-guide {
  display: inline;
}

.sg-gift-grid-wrapper {
  --gutter: 20px;
  --gift-card-size: 200px;
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-rows: minmax(var(--gift-card-size), 1fr);
  grid-template-columns: 10px repeat(4, var(--gift-card-size)) 10px;
  grid-auto-flow: column;
  overflow-x: scroll;
}
.sg-gift-grid-wrapper:before, .sg-gift-grid-wrapper:after {
  content: "";
  width: 10px;
}

.sg-gift {
  border: 1px solid #ccc;
}

.sg-gallery > ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: var(--grid-gap);
  grid-auto-flow: dense;
}

.sg-gallery__gift {
  list-style: none;
  padding: 0;
  border: 1px solid var(--monochrome-4);
  min-height: 200px;
}

@media (min-width: 32.5em) {
  .sg-gallery__gift--large {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (min-width: 32.5em) {
  .sg-gallery__gift--wide {
    grid-column: span 2;
  }
}

/*# sourceMappingURL=styleguide.css.map */
