{% extends 'layouts/article.html' %}

{% block articleHead %}
<div class="gwg-article__content">
  <h1>About</h1>
</div>
{% endblock articleHead %}

{% block articleBody %}
<div class="gwg-article__content">
  <p>Hello!</p>

  <p>We’re thrilled you’ve found our little corner of the internet, where gift-finding magic happens.</p>

  <p>Here at Gift Wrapped Giving, we believe that the right gift can light up someone’s day. But finding the right gift is hard. Where do you start, right? Well, we’re here to help!</p>

  <p>We’re a team of gift enthusiasts and professional gift-finders dedicated to taking the hassle out of finding the perfect gift. We’re based in the UK but scour the world for the best gifts. Whatever the occasion, we’ve got something for you—or for the special someone you're looking for.</p>

  <p>Our mission is simple: to help you discover gifts that delight, surprise and leave a lasting impression.</p>

  <h3>Get in Touch</h3>

  <p>Got a question, a suggestion, or just want to say hi? We’d love to hear from you! Drop us an email at <a href="mailto:giftwrappedgiving@gmail.com">giftwrappedgiving@gmail.com</a>. Whether you need help finding a gift or just want to tell us about your favourite gifts, we’re here for you.</p>
</div>
{% endblock articleBody %}
