{% extends 'layouts/base.html' %}
{% from 'components/gift.html' import gwgGift %}

{% block header %}
{% include 'components/site-nav.html' %}
{% endblock %}

{% block content %}
{{ gwgHero({
  "classes": "gwg-hero--guide"
}) }}

<section class="gwg-gallery__container">
  <div class="gwg-gallery">
    {% for gift in gifts %}
    {{ gwgGift({
      "class_prefix": "gwg-gallery__gift",
      "title": gift.name,
      "desc": gift.description,
      "img": {
        "url": gift.image.url if gift.image,
        "alt": ""
      },
      "shop": gift.shop,
      "btn": {
        "label": "Go to gift",
        "url": gift.gift_url
      }
    }) }}
    {% endfor %}
  </div>
</section>

{% include 'components/footer.html' %}
{% endblock %}
