{% extends 'layouts/base.html' %}
{% from 'components/gift.html' import gwgGift %}

{% set bodyClasses = guide.class %}

{% block header %}
{% include 'components/site-nav.html' %}
{% endblock %}

{% block content %}
{% if guide.hero_image %}
  {{ gwgHero({
    "classes": "gwg-hero--guide",
    "title": {
      "content": guide.name
    },
    "tagline": guide.tagline,
    "image": {
      "src": guide.hero_image.url,
      "alt": guide.hero_image.alt if guide.hero_image.alt else ""
    }
  }) }}
{% else %}
  {{ gwgHero({
    "classes": "gwg-hero--guide",
    "title": {
      "content": guide.name
    },
    "tagline": guide.tagline
  }) }}
{% endif %}

<section class="gwg-gallery__container">
  <div class="gwg-gallery">
    {% for gift in guide.gifts %}
    {{ gwgGift({
      "class_prefix": "gwg-gallery__gift",
      "title": gift.name,
      "desc": gift.description,
      "img": {
        "url": gift.image.url if gift.image,
        "alt": ""
      },
      "shop": gift.shop,
      "btn": {
        "label": "Go to gift",
        "url": gift.gift_url
      }
    }) }}
    {% endfor %}
  </div>
</section>

{% include 'components/footer.html' %}
{% endblock %}
