{% extends 'layouts/base.html' %}

{% block header %}
{% include 'components/site-nav.html' %}
{% endblock %}

{% block content %}
{{ gwgHero({
  "classes": "gwg-hero--guide"
}) }}

<section class="gwg-gallery">
  <ul>
    <li class="gwg-gallery__gift"></li>
    <li class="gwg-gallery__gift"></li>
    <li class="gwg-gallery__gift gwg-gallery__gift--large"></li>
    <li class="gwg-gallery__gift"></li>
    <li class="gwg-gallery__gift"></li>
    <li class="gwg-gallery__gift"></li>
    <li class="gwg-gallery__gift gwg-gallery__gift--wide"></li>
    <li class="gwg-gallery__gift"></li>
    <li class="gwg-gallery__gift"></li>
    <li class="gwg-gallery__gift"></li>
    <li class="gwg-gallery__gift"></li>
    <li class="gwg-gallery__gift"></li>
  </ul>
</section>

{% include 'components/footer.html' %}
{% endblock %}
