{% extends 'layouts/base.html' %}

{% block header %}
{% include 'components/site-nav.html' %}
{% endblock %}

{% block content %}
{{ gwgHero({}) }}

<section class="gwg-section">
  <div class="gwg-section__header">
    <h2>Editors' picks</h2>
  </div>
  <div class="gwg-gift-carousel">
    <div class="gwg-gift"></div>
    <div class="gwg-gift"></div>
    <div class="gwg-gift"></div>
    <div class="gwg-gift"></div>
  </div>
</section>

<section class="gwg-section">
  <div class="gwg-section__header">
    <h2>Top guides</h2>
  </div>
  <div class="gwg-guide-grid">
    <div class="gwg-guide"></div>
    <div class="gwg-guide"></div>
    <div class="gwg-guide"></div>
  </div>
  <a href="guides.html">View all guides</a>
</section>

{% include 'components/footer.html' %}
{% endblock %}
