{% extends 'layouts/base.html' %}
{% from 'components/gift.html' import gwgGift %}

{% block header %}
{% include 'components/site-nav.html' %}
{% endblock %}

{% block content %}
{{ gwgHero({
  "classes": "gwg-hero--main",
  "title": {
    "content": "Discover thoughtfully curated gifts that make every occasion special"
  },
  "image": {
    "src": "/static/images/hero-landscape.svg",
    "alt": "A selection of gifts",
    "sources": [
      {
        "srcset": "/static/images/hero-portrait.svg",
        "media": "(max-width: 740px) and (orientation: portrait)"
      }
    ]
  },
}) }}

<section class="gwg-section">
  <div class="gwg-width-container">

    <div class="gwg-section__header">
      <h2>Editors' picks</h2>
    </div>

    <div class="gwg-gift-carousel__container">
      <div class="gwg-gift-carousel">
        {%- for gift in gifts %}
        {{ gwgGift({
          "title": gift.name,
          "desc": gift.description,
          "img": {
            "url": gift.image.url if gift.image,
            "alt": ""
          },
          "shop": gift.shop,
          "btn": {
            "label": "Go to gift",
            "url": gift.gift_url
          }
        }) }}
        {% endfor -%}
      </div>
    </div>

    <div class="gwg-section__content">
      <a href="guides/editors-picks">View all gifts</a>
    </div>
  </div>
</section>

<section class="gwg-section">
  <div class="gwg-width-container">
    <div class="gwg-section__header">
      <h2>Top guides</h2>
    </div>

    <ul class="gwg-list gwg-list--guide">
      {% for guide in guides %}
      <li class="gwg-list__item gwg-list__item--guide">
        <a class="gwg-list__item__link" href="{{ guide[1] }}">{{ guide[0] }}</a>
        <i class="gwg-guide-list-item">{% include 'components/icons/arrow-right.html' %}</i>
      </li>
      {% endfor %}
    </ul>

    <div class="gwg-section__content">
      <a href="guides.html">View all guides</a>
    </div>
  </div>
</section>

{% include 'components/footer.html' %}
{% endblock %}
