{% extends 'layouts/base.html' %}
{% from 'components/gift.html' import gwgGift %}

{% block header %}
{% include 'components/site-nav.html' %}
{% endblock %}

{% block content %}
{{ gwgHero({}) }}

<section class="gwg-section">
  <div class="gwg-width-container">

    <div class="gwg-section__header">
      <h2>Editors' picks</h2>
    </div>
    <div class="gwg-gift-carousel">
      <div class="gwg-gift">
        <div class="gwg-gift__content">
          <h3 class="gwg-gift__title">Test product</h3>
          <p class="gwg-gift__desc">This is a short description of the product and why its a good one.</p>
        </div>
        <div class="gwg-gift__image">
          <img src="/static/images/product-example-unsplash.jpg" alt="">
        </div>
        <div class="gwg-gift__footer">
          <span>From Shop</span>
          <a href="#">Go to gift</a>
        </div>
      </div>
      {{ gwgGift({
        "title": "Product 1",
        "desc": "This is a short description of the product and why its a good one. Extra, extra description content.",
        "img": {
          "url": "/static/images/product-example-unsplash.jpg",
          "alt": ""
        },
        "shop": "Amazon",
        "btn": {
          "label": "Go to gift",
          "url": "#"
        }
      }) }}

      {{ gwgGift({
        "title": "Product 2",
        "desc": "This is a short description of the product and why its a good one.",
        "img": {
          "url": "/static/images/product-example-unsplash.jpg",
          "alt": ""
        },
        "shop": "Amazon",
        "btn": {
          "label": "Go to gift",
          "url": "#"
        }
      }) }}

      {{ gwgGift({
        "title": "Product 3",
        "desc": "This is a short description of the product and why its a good one.",
        "img": {
          "url": "/static/images/product-example-unsplash.jpg",
          "alt": ""
        },
        "shop": "Amazon",
        "btn": {
          "label": "Go to gift",
          "url": "#"
        }
      }) }}

      {{ gwgGift({
        "title": "Product 4",
        "desc": "This is a short description of the product and why its a good one.",
        "img": {
          "url": "/static/images/product-example-unsplash.jpg",
          "alt": ""
        },
        "shop": "Amazon",
        "btn": {
          "label": "Go to gift",
          "url": "#"
        }
      }) }}
    </div>

    <div class="gwg-section__content">
      <a href="guide.html">View all gifts</a>
    </div>
  </div>
</section>

<section class="gwg-section">
  <div class="gwg-width-container">
    <div class="gwg-section__header">
      <h2>Top guides</h2>
    </div>
    <div class="gwg-guide-grid">
      <div class="gwg-guide"></div>
      <div class="gwg-guide"></div>
      <div class="gwg-guide"></div>
    </div>

    <div class="gwg-section__content">
      <a href="guides.html">View all guides</a>
    </div>
  </div>
</section>

{% include 'components/footer.html' %}
{% endblock %}
