{% extends 'layouts/base.html' %}
{% from 'components/styleguide-example.html' import styleguideExample %}
{% from 'components/gift.html' import gwgGift %}

{%- block headStylesheets %}
{{ super() }}
<link rel="stylesheet" href="./static/stylesheets/styleguide.css">
{% endblock -%}


{% call styleguideExample({
  "title": "Example 1",
  "description": {
    "text": "This example demonstrates using more than one label to control a checkbox"
  }
}) %}

<form>
  <input type="checkbox" id="checkbox">
  <label for="checkbox">Checkbox label 1</label>
  <label class="checkbox-label-2" for="checkbox">Checkbox label 2</label>
</form>
{% endcall %}

{% call styleguideExample({
  "title": "Example 2",
  "description": {
    "text": "Trying to set width of an svg"
  }
}) %}

<label for="">
  <span class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="menu"><rect x="5" y="12" width="90" height="13"></rect><rect x="5" y="46" width="90" height="13"></rect><rect x="5" y="80" width="90" height="13"></rect></g></svg>
  </span>
</label>
{% endcall %}

{% call styleguideExample({
  "title": "Example 3",
  "description": {
    "text": "Trying to define the grid"
  }
}) %}

<div class="sg-grid-wrapper">
  <div class="sg-grid-1 sg-guide"></div>
  <div class="sg-grid-2 sg-guide"></div>
  <div class="sg-grid-3 sg-guide"></div>
</div>
{% endcall %}

{% call styleguideExample({
  "title": "Example 4",
  "description": {
    "text": "Trying to define the grid needed for gifts"
  }
}) %}

<div class="sg-gift-grid-wrapper">
  <div class="sg-grid-1 sg-gift"></div>
  <div class="sg-grid-2 sg-gift"></div>
  <div class="sg-grid-3 sg-gift"></div>
  <div class="sg-grid-4 sg-gift"></div>
</div>
{% endcall %}


{% call styleguideExample({
  "title": "Example 5",
  "description": {
    "text": "Grid for gift gallery"
  }
}) %}

<section class="sg-gallery">
  <ul class="sg-gift-gallery">
    <li class="sg-gallery__gift"></li>
    <li class="sg-gallery__gift"></li>
    <li class="sg-gallery__gift sg-gallery__gift--large"></li>
    <li class="sg-gallery__gift"></li>
    <li class="sg-gallery__gift"></li>
    <li class="sg-gallery__gift"></li>
    <li class="sg-gallery__gift sg-gallery__gift--wide"></li>
    <li class="sg-gallery__gift"></li>
    <li class="sg-gallery__gift"></li>
    <li class="sg-gallery__gift"></li>
    <li class="sg-gallery__gift"></li>
    <li class="sg-gallery__gift"></li>
  </ul>
</section>
{% endcall %}


{% call styleguideExample({
  "title": "Example - carousel",
  "description": {
    "text": "Example of carousel on homepage"
  }
}) %}

<div class="gwg-gift-carousel__container">
  <div class="gwg-gift-carousel">
    <div class="gwg-gift">
      <div class="gwg-gift__content">
        <h3 class="gwg-gift__title">Test product</h3>
        <p class="gwg-gift__desc">This is a short description of the product and why its a good one.</p>
      </div>
      <div class="gwg-gift__image">
        <img src="/static/images/product-example-unsplash.jpg" alt="">
      </div>
      <div class="gwg-gift__footer">
        <span>From Shop</span>
        <a href="#">Go to gift</a>
      </div>
    </div>
    {{ gwgGift({
      "title": "Product 1",
      "desc": "This is a short description of the product and why its a good one. Extra, extra description content.",
      "img": {
        "url": "/static/images/product-example-unsplash.jpg",
        "alt": ""
      },
      "shop": "Amazon",
      "btn": {
        "label": "Go to gift",
        "url": "#"
      }
    }) }}

    {{ gwgGift({
      "title": "Product 2",
      "desc": "This is a short description of the product and why its a good one.",
      "img": {
        "url": "/static/images/product-example-unsplash.jpg",
        "alt": ""
      },
      "shop": "Amazon",
      "btn": {
        "label": "Go to gift",
        "url": "#"
      }
    }) }}

    {{ gwgGift({
      "title": "Product 3",
      "desc": "This is a short description of the product and why its a good one.",
      "img": {
        "url": "/static/images/product-example-unsplash.jpg",
        "alt": ""
      },
      "shop": "Amazon",
      "btn": {
        "label": "Go to gift",
        "url": "#"
      }
    }) }}

    {{ gwgGift({
      "title": "Product 4",
      "desc": "This is a short description of the product and why its a good one.",
      "img": {
        "url": "/static/images/product-example-unsplash.jpg",
        "alt": ""
      },
      "shop": "Amazon",
      "btn": {
        "label": "Go to gift",
        "url": "#"
      }
    }) }}
  </div>
</div>
{% endcall %}
