{% macro gwgGift(params) %}
<div class="{{ params.class_prefix if params.class_prefix else 'gwg-gift' }}">
  <div class="{{ params.class_prefix if params.class_prefix else 'gwg-gift' }}__content">
    <h3 class="{{ params.class_prefix if params.class_prefix else 'gwg-gift' }}__title">{{ params.title }}</h3>
    <p class="{{ params.class_prefix if params.class_prefix else 'gwg-gift' }}__desc">{{ params.desc }}</p>
  </div>
  <div class="{{ params.class_prefix if params.class_prefix else 'gwg-gift' }}__image">
    <img src="{{ params.img.url }}" alt="{{ params.img.alt }}">
  </div>
  <div class="{{ params.class_prefix if params.class_prefix else 'gwg-gift' }}__footer">
    <span>{{ params.shop }}</span>
    <a href="{{ params.btn.url }}" data-simple-event="go_to_gift">{{ params.btn.label }}</a>
  </div>
</div>
{% endmacro %}
