{% macro gwgHero(params) %}
<section class="gwg-hero{{ ' ' + params.classes if params.classes }}">
  {% if params.content %}
  {{- params.content.html -}}
  {% else %}
  {%- if params.image %}
  <div class="gwg-hero__img">
    {% if params.image.sources %}
    <picture>
      {% for source in params.image.sources %}
      <source srcset="{{ source.srcset }}" media="{{ source.media }}">
      {% endfor %}
      <img src="{{ params.image.src }}" alt="{{ params.image.alt if params.image.alt }}" loading="lazy">
    </picture>
    {% else %}
    <img src="{{ params.image.src }}" alt="{{ params.image.alt if params.image.alt }}" loading="lazy">
    {% endif %}
  </div>
  {% endif %}
  <div class="gwg-hero__container">
    {%- if params.title and params.title.html %}
    {{ params.title.html }}
    {% else -%}
    <h1 class="gwg-hero__title">{{ params.title.content if params.title }}</h1>
    {%- endif %}
    {%- if params.tagline %}
    <p class="gwg-hero__tagline"><span>{{ params.tagline }}</span></p>
    {% endif -%}
  </div>
  {% endif %}
</section>
{% endmacro %}
