<nav class="site-nav__container">

  <input type="checkbox" name="site-nav-checkbox" id="site-nav-checkbox" class="site-nav__checkbox">
  <label for="site-nav-checkbox" class="site-nav__banner-btn">
    <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="menu"><rect x="5" y="12" width="90" height="13"></rect><rect x="5" y="46" width="90" height="13"></rect><rect x="5" y="80" width="90" height="13"></rect></g></svg>
    </span>
  </label>
  <label for="site-nav-checkbox" class="site-nav__panel-btn">Panel</label>

  <!-- the banner -->
  <div class="site-nav__banner">
    <h2 class="site-nav__title">Gift Wrapped Giving</h2>
    <ul class="site-nav__sections nav-links">
      <li class="nav-link">Gifts</li>
      <li class="nav-link">Guides</li>
    </ul>
    <ul class="site-nav__content-sections nav-links">
      <li class="nav-link">Blog</li>
      <li class="nav-link">About</li>
    </ul>
  </div>

  <!-- the side panel -->
  <div class="site-nav site-nav__panel">
    <div class="site-nav__panel__content">
      <div class="site-nav__lede">
        <h2 class="site-nav__title">Gift Wrapped Giving</h2>
      </div>
      <nav class="site-nav__panel__nav">
        <ul>
          <li>Gifts</li>
          <li>Guides</li>
          <li>Blog</li>
          <li>About</li>
        </ul>
      </nav>
    </div>
    <div class="site-nav__panel__footer">Test</div>
  </div>

</nav>
