.gwg-guide--fitness {
  --gwg-footer-background-colour: var(--main-text-colour);
  --gwg-footer-text-colour: var(--monochrome-white);
  .gwg-hero__tagline span {
    --highlight-text-colour: white;
    --highlight-background-color: var(--hero-text-colour);
  }
}
